.login {
  width: 319px;
  height: 57px;
  border-radius: 10px;
  border: 0;
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.status {
  border-radius: 6px;
  border: none;
  width: fit-content;
  padding: 10px;
}
.blue {
  color: white;
  background-color: #2395ff;
}
.white {
  color: #2395ff;
  background-color: white;
  border: 1px solid #2395ff;
}
.orange {
  color: white;
  background-color: #ff7f23;
}
.green {
  color: white;
  background-color: #4fcf4d;
}
.btnProfile {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.saveProfile {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
